/* Error: Expected identifier.
 *      ,
 * 1211 |   .
 *      |    ^
 *      '
 *   4-pages\_discover-nepal.sass 1211:4  @import
 *   style.sass 47:9                      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a      \2577 \a 1211 \2502    .\d\a      \2502     ^\a      \2575 \a   4-pages\\_discover-nepal.sass 1211:4  @import\a   style.sass 47:9                      root stylesheet";
}
